@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Data.Entities.MaterialHour>
@{
    ViewBag.Title = "生产效率";
}
<script src="~/Scripts/util.js"></script>
<div class="row">

    <div class="col-md-3">

        @Html.Partial("Shared/_QuickMenu")

    </div>
    <div class="col-md-9 ">

        <ol class="breadcrumb">
            <li><a href="/Material">材料管理</a></li>
            <li class="active">生产效率列表</li>
        </ol>

        <div class="panel panel-info">
            <div class="panel-heading">筛选</div>
            <div class="panel-body">


                @using (Html.BeginForm("MaterialHourList", "Material", FormMethod.Get, new { @class = "form-horizontal ng-pristine ng-valid" }))
                {

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">上传文件</label>
                        <div class="col-sm-3">
                            <input type="file" name="files" id="fileUpload" tabindex="-1" style="position:absolute; clip:rect(0px 0px 0px 0xp);" />
                            <div class="bootstrap-filestyle input-group">
                                <input type="text" id="fileText" class="form-control " disabled="">
                                <span class="group-span-filestyle input-group-btn" tabindex="0">
                                    <label for="fileUpload" class="btn btn-default ">
                                        <span class="glyphicon glyphicon-folder-open"></span> 选择文件
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <button type="button" class="btn btn-default" id="btnImport">
                                <i class="fa fa-sign-in"></i> 导入
                            </button>
                            <div class="" id="warning" style="display:none"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">上传时间</label>
                        <div class="col-sm-9 col-md-8 col-lg-8 col-xs-12">
                            <input type="date" name="timeStart" value="@ViewBag.timeStart" />
                            <label>至</label>
                            <input type="date" name="timeEnd" value="@ViewBag.timeEnd" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">查询</label>
                        <div class="pull-left col-xs-12 col-sm-3 col-lg-2">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>序号</th>


                    <th>材质</th>
                    <th>硬度</th>
                    <th>线径1</th>
                    <th>线径2</th>
                    <th>每小时模数</th>

                    <th>上传时间</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(item.Id)</td>
                        <td>@item.MaterialCode</td>
                        <td>@item.Hardness</td>
                        <td>@item.SizeB</td>
                        <td>@item.SizeB2</td>
                        <td>@item.MosInHour</td>

                        <td>@item.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss") </td>
                        <td>@item.UpdateUser </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Material/UpdateMaterialHour/@item.Id">修改</a></li>
                                    <li><a href="/Material/DeleteMaterialHour/@item.Id">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
            CreateUser = ViewBag.CreateUser,
            timeStart = ViewBag.timeStart,
            timeEnd = ViewBag.timeEnd,
            page
        }))

        @if (!Model.Any())
        {
            <div class="alert alert-info">
                <strong>提示</strong> 没有查询到记录。
            </div>
        }

    </div>
</div>
<script>
    $("#fileUpload").change(function () {
        $("#fileText").val($(this).val());
    })
    $('#btnImport').on('click', function () {
        var file = $('#fileUpload').prop('files')[0];
        var data = new FormData();
        data.append("file", file); 
        $.ajax({
            url: '/Material/UploadMaterialHour',
            type: 'POST',
            //dataType: 'JSON',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            crossDomain: true,
            beforeSend: function () {
                $('#warning').show();
                $('#warning').text('正在导入，请稍后...');
            },
            success: function (res) {

                if (res.Success) {
                    util.message('导入成功 ', '/Material/MaterialHourList', 'success');
                } else {
                    util.message('导入失败，' + res.Msg, '/Material/MaterialHourList', 'error');
                }
            }, error: function (event, request, settings) {
                if (request == "parsererror")
                    location.href = "/Home/Login";
                else
                    alert(event.responseText);
            }
        });
        return false;
    })
</script>