@model Data.Entities.MaterialHoleModel

@{
    ViewBag.Title = ViewBag.Action + "开模孔数";
    List<SelectListItem> nonList = new List<SelectListItem>();
}

<div class="row">

    <div class="col-md-3">

        @Html.Partial("Shared/_QuickMenu")

    </div>
    <div class="col-md-9 ">

        <ol class="breadcrumb">
            <li><a href="/Material">参数设定</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>

        <div class="container">


            @using (Html.BeginForm("UpdateMaterialHole", "Material", new { bag = Json.Encode(ViewBag) }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.MaterialCode, new { @class = "col-md-2 control-label" })

            <div class="col-md-6">
                @Html.DropDownListFor(model => model.MaterialCode, nonList, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hardness, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Hardness, nonList, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SizeC, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.SizeC,  new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SizeC2, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.SizeC2, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Rate, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ValidationSummary(false)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@(ViewBag.CommitName)</button>
                <a href="/Material/MaterialHoleList" class="btn btn-default">取消</a>
            </div>
        </div>

}
        </div>
    </div>
</div>
<script src="~/Scripts/material.js"></script>
<script>


    $(function () {
        var model = @Html.Raw( ViewBag.model);
        //初始化数据
        loadMaterial(changeMaterial,model);

         
        //绑定事件
        $('#MaterialCode').change(changeMaterial);

        $('#Rate,#SizeC').change(changeSize);
    })
</script>