@model Data.Entities.MaterialRateModel

@{
    ViewBag.Title = ViewBag.Action + "不良率";
    List<SelectListItem> nonList = new List<SelectListItem>();
}

<div class="row">

    <div class="col-md-3">

        @Html.Partial("Shared/_QuickMenu")

    </div>
    <div class="col-md-9 ">

        <ol class="breadcrumb">
            <li><a href="/Material">参数设定</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>

        <div class="container">


            @using (Html.BeginForm("UpdateMaterialRate", "Material", new { bag = Json.Encode(ViewBag) }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.SizeB, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SizeB, new { @class = "form-control", style = "width: 280px" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SizeB2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SizeB2, new { @class = "form-control", style = "width: 280px" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.UseRate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UseRate, new { @class = "form-control", style = "width: 280px" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BadRate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.BadRate, new { @class = "form-control", style = "width: 280px" })
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ValidationSummary(false)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">@(ViewBag.CommitName)</button>
                        <a href="/Material/MaterialRateList" class="btn btn-default">取消</a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script src="~/Scripts/util.js"></script>
<script>

    $('#SizeB,#SizeB2').change(function () {
        var s1 = $('#SizeB').val();
        var s2 = $('#SizeB2').val();
        if ($.isNumeric(s1) && $.isNumeric(s2) && Number(s1) >= Number(s2)) {
            util.message("线径2必须大于线径1");
            $('#SizeB2').val('');
        }
    })
</script>