@model Data.Entities.MaterialModel

@{
    ViewBag.Title = ViewBag.Action + "材料";
}

<div class="row">

    <div class="col-md-3">

        @Html.Partial("Shared/_QuickMenu")

    </div>
    <div class="col-md-9 ">

        <ol class="breadcrumb">
            <li><a href="/Material">材料管理</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>

        <div class="container">


            @using (Html.BeginForm("UpdateMaterial", "Material", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.MaterialCode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaterialCode, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hardness, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Hardness, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Display, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Display, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SpecialDiscount, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SpecialDiscount, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ValidationSummary(false)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@(ViewBag.CommitName)</button>
                <a href="/Material" class="btn btn-default">取消</a>
            </div>
        </div>

}
        </div>
    </div>
</div>
