@model Data.Models.InquiryModelRequest

@{
    ViewBag.Title = "新建报价";
    List<SelectListItem> FactoryLst = ViewBag.Factories; 

    List<SelectListItem> SealCodeLst = ViewBag.SealCodes;
    List<SelectListItem> CustomerLevels = ViewBag.CustomerLevels;
    List<SelectListItem> nonList = new List<SelectListItem>();
    //Data.Models.InquiryModelRequest oldModel = ViewBag.InquiryLog as Data.Models.InquiryModelRequest;
}

<div class="row">

    <div class="col-md-3">

        @Html.Partial("Shared/_QuickMenu")

    </div>
    <div class="col-md-9 ">

        <ol class="breadcrumb"> 
            <li><a href="/Inquiry">报价管理</a></li>
            <li class="active">新建报价</li>
        </ol>

        <div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Factory, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Factory, FactoryLst, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SizeA, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.SizeA, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaterialCode, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.MaterialCode, nonList, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Material1, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Material1, nonList, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Color, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Color, nonList, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>
                   
                </div>

            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-horizontal">

                    @*<div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Code, SealCodeLst, new { @class = "form-control", style = "width: 280px" })
            </div>
        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerLevel, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.CustomerLevel, CustomerLevels, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SizeB, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.SizeB, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Hardness, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Hardness, nonList, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Material2, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Material2, nonList, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Number, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Number, new { @class = "form-control", style = "width: 280px" })
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ValidationSummary(false)
                </div>
            </div>

            <div class="info"></div>
             
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <button id="inquiry" type="button" class="btn btn-primary">询价</button>
                    <a href="/Inquiry" class="btn btn-default">取消</a>
                </div>
            </div>


        </div>
    </div>
    <script src="~/Scripts/material.js"></script>
    <script>

        //function changeMaterial() {
        //    //硬度
        //    $.ajax({
        //        url: "/Inquiry/GetMaterialData",
        //        type: 'post',
        //        dataType: 'json',
        //        data: { MaterialCode: $('#MaterialCode').val(), getType: 0 },
        //        success: function (result) {
        //            $('#Hardness').empty();
        //            $.each(result, function (n, value) {
        //                $('#Hardness').append('<option value=' + value.Value + '>' + value.Name + '</option>');
        //                if (value.IsDefault)
        //                    $('#Hardness option[value="' + value.Value + '"]').attr('selected', true);
        //            })


        //            changeHardness();
        //        }
        //    });
        //}

        //function changeHardness() {
        //    //材料物性
        //    $.ajax({
        //        url: "/Inquiry/GetMaterialData",
        //        type: 'post',
        //        dataType: 'json',
        //        data: {
        //            MaterialCode: $('#MaterialCode').val(), Hardness: $('#Hardness').val(), getType: 1
        //        },
        //        success: function (result) {
        //            $('#Material1').empty();
        //            $.each(result, function (n, value) {
        //                $('#Material1').append('<option value=' + value.Value + '>' + value.Name + '</option>');
        //            })
        //        }
        //    });

        //    //材料物性
        //    $.ajax({
        //        url: "/Inquiry/GetMaterialData",
        //        type: 'post',
        //        dataType: 'json',
        //        data: {
        //            MaterialCode: $('#MaterialCode').val(), Hardness: $('#Hardness').val(), getType: 2
        //        },
        //        success: function (result) {
        //            $('#Material2').empty();
        //            $.each(result, function (n, value) {
        //                $('#Material2').append('<option value=' + value.Value + '>' + value.Name + '</option>');
        //            })
        //        }
        //    });


        //    //颜色
        //    $.ajax({
        //        url: "/Inquiry/GetMaterialData",
        //        type: 'post',
        //        dataType: 'json',
        //        data: {
        //            MaterialCode: $('#MaterialCode').val(), Hardness: $('#Hardness').val(), getType: 3
        //        },
        //        success: function (result) {
        //            $('#Color').empty();
        //            $.each(result, function (n, value) {
        //                $('#Color').append('<option value=' + value.Value + '>' + value.Name + '</option>');

        //                if (value.IsDefault)
        //                    $('#Color option[value="' + value.Value + '"]').attr('selected', true);
        //            })
        //        }
        //    });
        //}

        function submitInquiry() {

            $.ajax({
                url: "/Inquiry/CreateInquiry",
                type: 'post',
                dataType: 'json',
                data: {
                    SizeA: $('#SizeA').val(),
                    SizeB: $('#SizeB').val(),
                    //Code: $('#Code').val(),
                    MaterialCode: $('#MaterialCode').val(),
                    Hardness: $('#Hardness').val(),
                    Number: $('#Number').val(),
                    Factory: $('#Factory').val(),
                    Material1: $('#Material1').val(),
                    Material2: $('#Material2').val(),
                    Color: $('#Color').val(),
                    CustomerLevel: $('#CustomerLevel').val()
                },
                success: function (result) {
                    if (result.Code == -2) {
                        window.location.href = "/Home/LoginOut";
                        return;
                    }
                    var alert = result.Success == true ? "success" : "warning";
                    $('.info').empty().append('<div class="alert alert-' + alert + ' alert-dismissable">\
                <button type= "button" class="close" data- dismiss="alert"\
                    aria- hidden="true" >\
                        &times;\
                    </button>'+ result.Msg + '</div>');

                }
            });


        }

        $(function () {

            var model = @Html.Raw( ViewBag.model);
            //初始化数据
            loadMaterial(function (a, model) {
                //
                changeMaterial(function (model) {
                    changeHardness(model); 
                }, model); 
            }, model);

            //绑定事件
            $('#MaterialCode').change(function () {
                changeMaterial(changeColor); 
            });   

            $('#Hardness').change(changeHardness)

            $('#inquiry').click(submitInquiry);

            ////初始化数据
            //changeMaterial( );
            //changeHardness( );
        })

    </script>
</div>